<mat-toolbar color="primary">
    <span>
      <a routerLink="">JavaEE2MEAN</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="isAuthenticated">
        <div *appIsGranted="'READ_FAILURE'">
          <a mat-button routerLink="/failure" routerLinkActive="mat-accent">Failure Queue</a>
        </div>
      </li>

      <li *ngIf="isAuthenticated">
        <a mat-button routerLink="/company" routerLinkActive="mat-accent">Companies</a>
      </li>

      <li *ngIf="isAuthenticated">
        <div *appIsGranted="'UPDATE_COMPANY'">
        <a mat-button routerLink="/company/create" routerLinkActive="mat-accent">New Company</a>
        </div>
      </li>
      <li >
        <a mat-button routerLink="" routerLinkActive="mat-accent">JavaEE Ratingmanagement -> MEAN-Stack RatingManagement | Migrationstatus: 60%</a>
      </li>

      <li >
        <a mat-button routerLink="" routerLinkActive="mat-accent">View Architecture</a>
      </li>
      <li >
        <a mat-button routerLink="/globalAnalysis" routerLinkActive="mat-accent">View Analysis</a>
      </li>
      <li >
        <a mat-button routerLink="/localAnalysis" routerLinkActive="mat-accent">Migrate</a>
      </li>
      <li >
        <a mat-button routerLink="" routerLinkActive="mat-accent">View on Github</a>
      </li>
    </ul>
  </mat-toolbar>
