
table {
  width: 100%
}

.mat-expansion-panel{
  margin-top: 2em;
}

.mat-table{
  margin-top: 3em;
}

th {
  width: 14%;

}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-header-cell, mat-cell {
  text-align: left;
  text-anchor: middle;
}

.mat-column-select {
  overflow: initial;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {

}

.mat-raised-button, .mat-form-field {
  margin: 1.5em;
  font-size: 0.8em;
  padding: -10px;
}

#keywords {
  width: 50%;
  padding: 1em;
}

.mat-slide-toggle {
  margin-left: 0.5em;
}


