<mat-tab-group>
  <mat-tab label="Semantic Analysis">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How does it work?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The semantic analysis is a powerful, but voluntary step in the migration process from JavaEE to MEAN. It can only be applied within
        The semantic analysis is a powerful, but voluntary step in the migration process from JavaEE to MEAN. It can only be applied within
        The semantic analysis is a powerful, but voluntary step in the migration process from JavaEE to MEAN. It can only be applied within
        The semantic analysis is a powerful, but voluntary step in the migration process from JavaEE to MEAN. It can only be applied within
        The semantic analysis is a powerful, but voluntary step in the migration process from JavaEE to MEAN. It can only be applied within
        *Run the semantic <br> algorithm again <br> with the additional <br> keywords to double <br> check
        Enter own keywords <br> separated by comma  and whitespace
        Set the search <br> extent for semantic <br> analysis in  layer neighbourhood</p>
    </mat-expansion-panel>

    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
               class="mat-elevation-z0">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Layer
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>

      <ng-container matColumnDef="exclude">
        <th mat-header-cell *matHeaderCellDef> Include </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-slide-toggle checked=true (click)="onExcludeLayer(element.name)"></mat-slide-toggle>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="searchExtent">
        <th mat-header-cell *matHeaderCellDef>Search Extent</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-select>
            <mat-option *ngFor="let searchExtent of searchExtents" [value]="searchExtent" (click)="updateSearchExtendForALayer(searchExtent, element)">
              {{searchExtent}}
            </mat-option >
          </mat-select>

        </td>
        <td mat-footer-cell *matFooterCellDef="let element; let i = index">
          <mat-form-field>
            <input matInput [(ngModel)]="myReviews[i]" placeholder="Set extent for all" (click)="onSetExtentForAll(myReviews[i])">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="execute">
        <th mat-header-cell *matHeaderCellDef> Start analysis </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button color ="secondary" type ="submit" (click)="onStartSemanticAnalysisForALayer(element)">Analyse</button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button mat-raised-button color ="primary" type ="submit" (click)="onStartSemanticAnalysisForAll()">Analyse all</button></td>
      </ng-container>

      <ng-container matColumnDef="keywords">
        <th mat-header-cell *matHeaderCellDef>
          Keywords
        </th>
        <td mat-cell id="keywords" *matCellDef="let element" (click)="onEditKeywords(element)"> {{element.keywords.join(', ')}}  </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>

      <ng-container matColumnDef="review">
        <th mat-header-cell *matHeaderCellDef>Own keywords</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <input matInput [(ngModel)]="additionalKeywords[i]" placeholder="e.g. REST, DataObject.java, ...">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef>
        </td>
      </ng-container>



      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Run algorithm <br> and save</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button color ="secondary" type ="submit" (click)="onStartAnalysisWithOwnKeywords(element, additionalKeywords[i])">Save only <br>approved*</button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
        </td>
      </ng-container>

      <ng-container matColumnDef="save">
        <th mat-header-cell *matHeaderCellDef> Save to database </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button color ="secondary" type ="submit" (click)="onSaveAssignment(element, additionalKeywords[i])">Save all</button>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </mat-table>
  </mat-tab>
</mat-tab-group>

