<span><h1>Clean and Merge Entity and Functionality Based Modules</h1></span>
<p></p>
<form class="example-form" #componentCreation="ngForm" (ngSubmit)="createFinalModuleComponent(componentCreation.value)">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Create new component</mat-label>
    <input matInput placeholder="Name" name="componentName" ngModel>
  </mat-form-field>
  <button type="submit" id="addComponentButton" mat-raised-button color="accent">Save</button>
  <button id="savebutton" mat-stroked-button color="primary" (click)="onSave()">Save All</button>
</form>
<div cdkDropListGroup>
  <div id="dragAndDropLists0">
    <div class="drag-drop-container" *ngFor="let splittingResultInstance of finalSplittingResults">
      <div class="example-box" cdkDrag>
        <mat-card class="finalModuleDragDropList"> <mat-card-title>{{splittingResultInstance.base}} </mat-card-title>
        <mat-card-subtitle>({{splittingResultInstance.splittingStrategy}})</mat-card-subtitle>
        <mat-card-actions>
          <div
            cdkDropList
            id={{splittingResultInstance.base}}
            [cdkDropListData]="splittingResultInstance.moduleCluster"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event, splittingResultInstance.base)">
            <div class="drag-drop-box " *ngFor="let word of splittingResultInstance.moduleCluster" cdkDrag>{{word}}
              <button id="plus" mat-button color="warn" (click)="onDeleteElement(splittingResultInstance.base, word)">x</button>
              <button id="minus" mat-button color="primary" (click)="onDuplicateElement(splittingResultInstance.base, word)">+</button>
            </div>
          </div>
          <p></p>

          <form class="example-form" >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Module Kind</mat-label>
              <input type="text"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onModuleKindOptionSelected($event.option, splittingResultInstance)">
                <mat-option *ngFor="let kind of moduleKindOptions" [value]="kind">
                  {{kind}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <h5>Module Kind: {{splittingResultInstance.usage}}</h5>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Call to other Module</mat-label>
              <input type="text"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto1">
              <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onUsedModulesOptionSelected($event.option, splittingResultInstance)">
                <mat-option *ngFor="let splittingResult of finalSplittingResults" [value]="splittingResult.base">
                  {{splittingResult.base}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>

            <!--<mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput name="callDescription" ngModel>
              <button type="submit" id="addRelationButton" mat-button color="accent">Save Relation</button>
            </mat-form-field>-->

          </form>
          <div
            cdkDropList
            id={{splittingResultInstance.base}}
            [cdkDropListData]="splittingResultInstance.moduleCluster"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event, splittingResultInstance.base)">
            <div class="drag-drop-box " *ngFor="let word of splittingResultInstance.usedModules" cdkDrag>{{word}}
              <button id="plus" mat-button color="warn" (click)="onDeleteUsedModule(word, splittingResultInstance.base)">x</button>
            </div>
          </div>
          <button type="submit" id="saveComponentButton" mat-raised-button color="primary" (click)="saveFinalModuleComponent(splittingResultInstance)">Submit</button>
          <button mat-button color="warn" (click)="onDeleteComponent(splittingResultInstance)">Delete</button>
      </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div id="dragAndDropLists">
    <div class="drag-drop-container" *ngFor="let splittingResultInstance of entitySplittingResults">
      <div class="example-box" cdkDrag>
        <mat-card class="entityDragDropList"> <mat-card-title>{{splittingResultInstance.base}} </mat-card-title>
          <mat-card-subtitle>({{splittingResultInstance.splittingStrategy}})</mat-card-subtitle>
          <mat-card-actions>
            <div
              cdkDropList
              id={{splittingResultInstance.base}}
              [cdkDropListData]="splittingResultInstance.moduleCluster"
              class="drag-drop-list"
              (cdkDropListDropped)="drop($event, splittingResultInstance.base)">
              <div class="drag-drop-box" *ngFor="let word of splittingResultInstance.moduleCluster" cdkDrag>{{word}}
                <button mat-button color="warn" (click)="onDeleteComponentInModule(splittingResultInstance.base, word)">x</button>
                <button id="minus" mat-button color="primary" (click)="onDuplicateElement(splittingResultInstance.base, word)">+</button>
              </div>
            </div>
            <button type="submit" id="saveComponentButton" mat-button color="primary" (click)="onDeclareAsFinalModule(splittingResultInstance)">Declare manual</button>
            <button mat-button color="warn" (click)="onDeleteEntityComponent(splittingResultInstance.base)">Delete</button>
          </mat-card-actions>
        </mat-card>
    </div>
    </div>
  </div>
  <div id="dragAndDropLists1">
    <div class="drag-drop-container" *ngFor="let splittingResultInstance of funcSplittingResults">
      <div class="example-box" cdkDrag>
        <mat-card class="funcDragDropList"> <mat-card-title>{{splittingResultInstance.base}} </mat-card-title>
          <mat-card-subtitle>({{splittingResultInstance.splittingStrategy}})</mat-card-subtitle>
          <mat-card-actions>
            <div
              cdkDropList
              id={{splittingResultInstance.base}}
              [cdkDropListData]="splittingResultInstance.moduleCluster"
              class="drag-drop-list"
              (cdkDropListDropped)="drop($event, splittingResultInstance.base)">
              <div class="drag-drop-box" *ngFor="let word of splittingResultInstance.moduleCluster" cdkDrag>{{word}}
                <button mat-button color="warn" (click)="onDeleteComponentInModule(splittingResultInstance.base, word)">x</button>
                <button id="minus" mat-button color="primary" (click)="onDuplicateElement(splittingResultInstance.base, word)">+</button>
              </div>
            </div>
            <button type="submit" id="saveComponentButton" mat-button color="primary" (click)="onDeclareAsFinalModule(splittingResultInstance)">Declare manual</button>
            <button mat-button color="warn" (click)="onDeleteFuncComponent(splittingResultInstance.base)">Delete</button>
          </mat-card-actions>
        </mat-card>
    </div>
    </div>
  </div>
</div>
