
table {
  width: 100%;
}

.w-75{
  max-width: 30px;
}
#nodename {
  width: 1em;
}
th {
  width: 40%;
}

.mat-raised-button, .mat-form-field {
  margin-left: 1.5em;
  font-size: 0.8em;
}

.mat-cell {

}

.highlight {
  background-color: #FFFFB5
}

.highlight_red {
  background-color: #FFBEBC
}
.mat-column-select {
  overflow: initial;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
}
