<h1>Delete double keywords and drag and drop them between layers</h1>
<p></p>
<div cdkDropListGroup>
<div id="dragAndDropLists">
  <div class="drag-drop-container" *ngFor="let semanticKnowledgeInstance of semanticKnowledge">
    <h2> {{semanticKnowledgeInstance.name}}</h2>
    <div
      cdkDropList
      id={{semanticKnowledgeInstance.name}}
      [cdkDropListData]="semanticKnowledgeInstance.keywords"
      class="drag-drop-list"
      (cdkDropListDropped)="drop($event, semanticKnowledgeInstance.name)">
        <div class="drag-drop-box" *ngFor="let word of semanticKnowledgeInstance.keywords" cdkDrag>{{word}}
          <button mat-button color="warn" (click)="onDeleteKeyword(semanticKnowledgeInstance.name, word)">Delete</button>
        </div>
    </div>
  </div>
</div>
</div>


