<p>
  <mat-toolbar color="primary">
    <span>Migrationsprozess JavaEE -> MEAN Stack </span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<p>
  <mat-toolbar>
    <span>Load Project Data into Graph Database</span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
</p>


<p>
  <mat-toolbar>
    <span>Semantic Analysis (optional)</span>

  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>

<mat-divider></mat-divider>

<p>
  <mat-toolbar>
    <span>Global Analysis</span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>

<p>
  <mat-toolbar>
    <span>Local Analysis</span>
    <mat-list>
      <mat-list-item>
        <span>Entity Splitting Strategy</span>
      </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>

  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>
