<p>
  <mat-toolbar color="primary">
    <span>Migrationsprozess JavaEE -> MEAN Stack </span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="20" color="accent" ></mat-progress-bar>
</p>
<p>
  <mat-toolbar>
    <span>Load Project Data into Graph Database</span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
</p>

<p>
  <mat-toolbar>
    <span>
      <a routerLink="/semanticAnalysis">Improve Results with a Semantic Analysis (optional)</a>
      <a routerLink="/semanticAnalysis/ontology">Improve Results with Ontology Knowledge (optional)</a>
    </span>

  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>

<mat-divider></mat-divider>

<p>
  <mat-toolbar>
    <span><a routerLink="/globalAnalysis">Get an Overview with the Global Analysis</a></span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>

<p>
  <mat-toolbar>
    <span>
      <a routerLink="/splitting/entity/result">Identify Entity Based Modules</a>
      <a routerLink="/splitting/entity/profiling">Customize Strategy Profile</a>
    </span>
    <span>

    </span>
  </mat-toolbar>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</p>


